/* Reset CSS */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  background: rgb(52, 75, 124);
  color: whitesmoke;
  height: 86px;
}

/* Nav - logo */
.logo {
  /* border: 2px solid red; */
}

.logo img{    
    width: 241px;
}

.log-container {
    display: flex;
    flex-grow: 10;
    flex-direction: row-reverse;
    /* border: 2px solid rgb(245, 117, 12); */
}

.inp-container {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.inp-container input{
    border: 2px solid rgb(206, 204, 204);
    border-radius: 3px;
    width: 190px;
    padding: 2px;
}
.inp-container a{
    text-decoration: none;
    color: rgb(103, 141, 197);
}

/* Nav-button */
#n-btn{
    height: 25px;
    padding: 3px;
    margin: 17px 5px;
    background: rgb(52, 75, 124);
    border: 1px solid whitesmoke;
    color: whitesmoke;
    border-radius: 3px;    
}

#n-btn:hover{
    background: whitesmoke;
    border: 1px solid whitesmoke;
    color: rgb(52, 75, 124);
}
/* Main Container */
.m-container {
  display: flex;
  /* border: 2px solid palegreen; */
  background: rgb(230, 234, 240);
}

/* Inside the main container*/
#child-container {
  width: 50%;
  /* border: 2px solid blue; */
  height: 90vh;
}
/* First Container */
.first-container p{
    /* border: 2px solid rgb(19, 236, 182); */
    font-size: 1.2rem;
    padding: 40px 0px;
    font-size: 1.6rem;
}
.first-container img{
    /* border: 2px solid red; */
    width: 100%;
    height: 75%;
}
/* Second container */
.sec-container{
    /* border: 2px solid yellow; */

}
/* Sign UpForm */
.sec-container h1 {
    /* margin: 10px 0px; */
    padding: 15px 0;
    font-size: 3.3rem;
}


#f-para1 {
    font-size: 1.2rem;  
}

#personal{
    /* border: 2px solid red; */
    padding: 15px 0px;
}
.f-container {
  display: flex;
  flex-direction: column;
}

.f-container h3{
    font-size: 1.9rem;
}

#full-name{
    padding: 4px 0px;
}
#full-name input {
    border: 2px solid rgb(206, 204, 204);
    border-radius: 4px;
    padding: 10px;
    width: 49.7%;

}

#email-pass{
    display: flex;
    flex-direction: column;
}

#email-pass input{
    border: 2px solid rgb(206, 204, 204);
    border-radius: 4px;
    border-radius: 3px;
    margin: 5px 0px;
    padding: 10px;
}

/* Birth Container */
.dob{
    /* border: 2px solid rgb(19, 236, 182); */
    padding: 6px 0px;
}
.dob h3{
    padding: 5px 0px;
}
.birth-content{
    display: flex;
    /* border: 2px solid rgb(245, 7, 185); */
    padding: 6px 0px;
}
.birth-content input{
    padding: 0px 10px;
    font-size: 17px;
}
.birth-content p{
    display: flex;
    margin-left: 25px;
    align-items: center;
}
.birth-content a{
    text-decoration: none;
    color: rgb(91, 91, 145);
}
.birth-content a:hover{
    color: rgb(123, 123, 194);
}
#check{
    flex-direction: row;
    /* border: 2px solid forestgreen; */
    padding: 7px 0px;
    font-size: 1.1rem;
}
.inner-check{
    margin: 0px 8px;
}
#form-para{
    padding:10px 0px;
    color: grey;
}
#form-para a{
    text-decoration: none;
    color: rgb(91, 91, 145);
}
#form-para a:hover{
    color: rgb(123, 123, 194);
}
#sign-btn{
    width: 125px;
    padding: 4px;
    background: rgb(43, 158, 43);
    color: whitesmoke;
    border: none;
    border-radius: 3px;
    font-size: 1.1rem;
}
#sign-btn:hover{
    background: whitesmoke;
    color: rgb(43, 158, 43);
}

